body {
  background-image: url("callejon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  border: 10px solid maroon;
  padding: 20px;
}

.title {
  margin-top: 0;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.option {
  margin: 0 20px;
  cursor: pointer;
}

.option img {
  width: 150px;
  height: 150px;
}

.option:hover {
  opacity: 0.8;
}

#result {
  margin-top: 20px;
  font-style: italic;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

#score {
  margin-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.lock-button {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: maroon;
  color: white;
  border: none;
  cursor: pointer;
}

.locked {
  background-color: darkred;
}